*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  background-color: $admin-bg;
  box-sizing: border-box;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Roboto Slab", serif;
}

.container {
  margin: 0 1.875rem;
}
