$dark-color: #05070d;
$blue-color: #2a69f0;
$dark-purple: #8862e0;
$light-green: #19d895;
$light-black: #374540;
$dark-yellow: #c19d38;
$light-pink: #fe0101;
$admin-bg: #edf4f4;
$white-color: #fff;
$black-color: #000;
$dark-blue: #293362;
$btn-light: #017f8a;
